<div id="numbtn">
    <a class="btn"><button type="submit" class="btn btn-light">1</button></a>
    <a class="btn" href="C:\Users\pc\Documents\test.html\secondpage.html"><button type="submit" class="btn btn-light">2</button></a>
    <a class="btn"><button type="submit" class="btn btn-light">3</button></a>
    <a class="btn"><button type="submit" class="btn btn-light">4</button></a>
    <a class="btn"><button type="submit" class="btn btn-light">5</button></a>
    <a class="btn"><button type="submit" class="btn btn-light">...</button></a>
  </div>