<div id="scroller-container">
    
    <div id="scroller-items">
      <a href=""><img class="scroller-img" src="css\images\prisonbreak.png"></a>
      <a class="scroller-title" href="">Prison break</a>
    </div>

    <div id="scroller-items">
      <a href=""><img class="scroller-img" src="css\images\1101000.jpg"></a>
      <a class="scroller-title" href="">The 100</a>
    </div>

    <div id="scroller-items">
      <a href=""><img class="scroller-img" src="css/images/5186184.webp"></a>
      <a class="scroller-title" href="">Stranger things</a>
    </div>

    <div id="scroller-items">
      <a href=""><img class="scroller-img" src="css\images\hf2hiinmmr4xoumbx4uo3pelzz2-069.jpg"></a>
      <a class="scroller-title" href="">The flash</a>
    </div>

    <div id="scroller-items">
      <a href=""><img class="scroller-img" src="css/images/MV5BYmRhZjkyMjEtNjRkMS00MDQ0LTg2NGMtMTQ3ZjE0NjJmMjM2L2ltYWdlXkEyXkFqcGdeQXVyNTY0MTkxMTg@._V1_.jpg"></a>
      <a class="scroller-title" href="">13 reasons why</a>
    </div>

    <div id="scroller-items">
      <a href=""><img class="scroller-img" src="css/images/MV5BYTRiNDQwYzAtMzVlZS00NTI5LWJjYjUtMzkwNTUzMWMxZTllXkEyXkFqcGdeQXVyNDIzMzcwNjc@._V1_.jpg"></a>
      <a class="scroller-title" href="">Game of throne</a>
    </div>

    <div id="scroller-items">
      <a href=""><img class="scroller-img" src="css\images\MV5BZmU5NTcwNjktODIwMi00ZmZkLTk4ZWUtYzVjZWQ5ZTZjN2RlXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_FMjpg_UX1000_.jpg"></a>
      <a class="scroller-title" href="">The walking dead</a>
    </div>


    <div id="scroller-items">
      <a href=""><img class="scroller-img" src="css\images\p9155926_b_v10_au.jpg"></a>
      <a class="scroller-title" href="">vikings</a>
    </div>


  </div>